sudo: required

services:
  - docker

before_install:
    - docker pull pritunl/archlinux
    - docker run --name eloquentos -itd --privileged -v ${PWD}:/mnt pritunl/archlinux /bin/bash
    - docker exec eloquentos pacman -S archiso --noconfirm
    - docker exec eloquentos pacman-key --add /mnt/sign-key
    - docker exec eloquentos pacman-key --lsign-key eloquentos@nimbusoft.co.uk
    - docker exec eloquentos mkdir /run/shm

script: docker exec eloquentos /bin/sh -c "cd /mnt && ./build.sh -v"

after_success:
    - sudo apt-get install -y sshpass
    - ./deploy.sh
